<div class="m-10">
  <div class="flex justify-between items-center mb-5">
    <div class="text-3xl">{{ deck?.name }}</div>
  </div>
  <div class="flex gap-7 mb-12">
    <div class="flex flex-col items-center">
      <span class="font-bold">Número de pokemons</span>
      <span>{{ deck?.pokemonCount }}</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="font-bold">Número de Treinadores</span>
      <span>{{ deck?.trainerCount }}</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="font-bold">Cores</span>
      <span>{{ deck?.colorTypes?.length }}</span>
    </div>
  </div>
  <span class="font-bold">Lista de cartas</span>
  <div>
    <ul>
      <li *ngFor="let card of deck?.cards">
        <label>
          <img [src]="card.images.large" />
        </label>
      </li>
    </ul>
  </div>
  <div class="my-10 flex justify-end">
    <button
      igxButton="raised"
      igxRipple="white"
      igxButtonColor="white"
      igxButtonBackground="red"
      [igxRippleCentered]="true"
      routerLink="/deck/list"
    >
      Voltar
    </button>
    <button
      type="submit"
      igxButton="raised"
      igxRipple="white"
      igxButtonColor="white"
      igxButtonBackground="#5028d9"
      [igxRippleCentered]="true"
      class="ml-2"
      routerLink="/deck/form/{{ deck?.id }}"
    >
      Editar
    </button>
  </div>
</div>
