<div class="flex justify-center items-center max-w-screen-md">
  <form
    *ngIf="showLogin"
    class="input-group-form"
    [formGroup]="loginForm"
    (ngSubmit)="tryLogin()"
  >
    <h3 class="text-center">Pokedeck</h3>
    <igx-input-group>
      <igx-prefix>
        <igx-icon>account_circle</igx-icon>
      </igx-prefix>
      <label igxLabel for="username">Usuário</label>
      <input
        igxInput
        id="username"
        name="username"
        formControlName="username"
        type="text"
      />
    </igx-input-group>
    <app-validation-message
      [control]="loginForm.controls.username"
      validation="required"
      message="O Usuário é obrigatório"
    ></app-validation-message>
    <igx-input-group>
      <igx-prefix>
        <igx-icon>lock</igx-icon>
      </igx-prefix>
      <label igxLabel for="password">Senha</label>
      <input
        igxInput
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
    </igx-input-group>
    <app-validation-message
      [control]="loginForm.controls.password"
      validation="required"
      message="A Senha é obrigatória"
    ></app-validation-message>
    <button
      igxButton="raised"
      type="submit"
      igxRipple
      [disabled]="!loginForm.valid"
    >
      ENTRAR
    </button>
    <a (click)="showRegistrationForm()">Cadastrar</a>
  </form>

  <div *ngIf="showSuccessLogin">Logado com sucesso!</div>

  <form
    *ngIf="showRegister"
    class="input-group-form"
    [formGroup]="registrationForm"
    (ngSubmit)="tryRegister()"
  >
    <h3>Crie sua conta</h3>
    <igx-input-group>
      <label igxLabel for="firstName">Primeiro nome</label>
      <input
        igxInput
        id="firstName"
        name="firstName"
        formControlName="firstName"
        type="text"
      />
    </igx-input-group>
    <app-validation-message
      [control]="registrationForm.controls.firstName"
      validation="required"
      message="O Primeiro nome é obrigatório"
    ></app-validation-message>
    <igx-input-group>
      <label igxLabel for="lastName">Último nome</label>
      <input
        igxInput
        id="lastName"
        name="lastName"
        formControlName="lastName"
        type="text"
      />
    </igx-input-group>
    <app-validation-message
      [control]="registrationForm.controls.lastName"
      validation="required"
      message="O Último nome é obrigatório"
    ></app-validation-message>
    <igx-input-group>
      <label igxLabel for="newUsername">Nome de usuário</label>
      <input
        igxInput
        id="newUsername"
        name="newUsername"
        formControlName="newUsername"
        type="text"
      />
    </igx-input-group>
    <app-validation-message
      [control]="registrationForm.controls.newUsername"
      validation="required"
      message="O Nome de usuário é obrigatório"
    ></app-validation-message>
    <igx-input-group>
      <input
        igxInput
        id="newPassword"
        name="newPassword"
        type="password"
        formControlName="newPassword"
      />
      <label igxLabel for="newPassword">Senha</label>
    </igx-input-group>
    <app-validation-message
      [control]="registrationForm.controls.newPassword"
      validation="required"
      message="A Senha é obrigatória"
    ></app-validation-message>
    <button
      igxButton="raised"
      type="submit"
      igxRipple
      [disabled]="!registrationForm.valid"
    >
      CRIAR CONTA
    </button>
    <a (click)="showLoginForm()">Ir para o login</a>
  </form>

  <div *ngIf="showSuccessRegister">Registrado com sucesso!</div>
</div>
