<div class="m-10">
  <div class="flex justify-between items-center mb-5">
    <div class="text-3xl">
      {{ deck?.id ? "Editar baralho" : "Criar baralho" }}
    </div>
  </div>
  <form [formGroup]="deckForm" (submit)="save()">
    <span>Nome do baralho</span>
    <igx-input-group class="w-64">
      <input
        igxInput
        id="name"
        type="text"
        formControlName="name"
        title="Nome do baralho"
      />
    </igx-input-group>
    <app-validation-message
      [control]="deckForm.controls.name"
      validation="required"
      message="O nome do baralho é obrigatório"
    ></app-validation-message>

    <form>
      <div class="flex justify-between items-center mt-4">
        <p>Selecione suas cartas</p>
        <igx-input-group>
          <input
            igxInput
            type="text"
            placeholder="Pesquisar cartas"
            [(ngModel)]="search"
            (keydown.enter)="filter()"
            [ngModelOptions]="{ standalone: true }"
          />
          <igx-suffix (click)="filter()">
            <igx-icon>search</igx-icon>
          </igx-suffix>
        </igx-input-group>
      </div>
    </form>
    <div
      [ngClass]="{
        'validation-error':
          deckForm.get('cards')?.errors && deckForm.get('cards')?.touched
      }"
    >
      <div *ngIf="cards$ | async as cards; else templateLoading">
        <ul>
          <li *ngFor="let card of cards.data">
            <input
              class="invisible"
              title="{{ card.name }}"
              type="checkbox"
              id="{{ card.id }}"
              [checked]="isChecked(card)"
              (change)="checkChange(card)"
            />
            <label for="{{ card.id }}">
              <img [src]="card.images.large" />
            </label>
          </li>
        </ul>
        <igx-paginator
          [perPage]="currentPerPage"
          [selectOptions]="itemsPerPage"
          [totalRecords]="
            cards.totalCount ? cards.totalCount / currentPerPage : 1
          "
          (perPageChange)="perPageChange($event)"
          [page]="currentPage"
          (pageChange)="pageChange($event)"
        >
        </igx-paginator>
      </div>
    </div>
    <app-validation-message
      [control]="deckForm.controls.cards"
      validation="required"
      message="A seleção de cartas é obrigatória."
    ></app-validation-message>
    <app-validation-message
      [control]="deckForm.controls.cards"
      validation="minlength"
      message="O limite mínimo é de 24 cartas selecionadas!"
    ></app-validation-message>
    <app-validation-message
      [control]="deckForm.controls.cards"
      validation="maxlength"
      message="O limite máximo é de 60 cartas selecionadas!"
    ></app-validation-message>
    <app-validation-message
      [control]="deckForm.controls.cards"
      validation="limitcard"
      message="O limite de cartas com o mesmo nome é de 4 cartas."
    ></app-validation-message>

    <div class="my-10 flex justify-end">
      <button
        igxButton="raised"
        igxRipple="white"
        igxButtonColor="white"
        igxButtonBackground="red"
        [igxRippleCentered]="true"
        routerLink="/deck/list"
      >
        Voltar
      </button>
      <button
        type="submit"
        igxButton="raised"
        igxRipple="white"
        igxButtonColor="white"
        igxButtonBackground="#5028d9"
        [igxRippleCentered]="true"
        class="ml-2"
      >
        Salvar
      </button>
    </div>
  </form>
</div>

<ng-template #templateLoading>
  <app-loader></app-loader>
</ng-template>
