<div class="m-10">
  <div class="flex justify-between items-center mb-5">
    <div class="text-3xl">Meus baralhos</div>
    <div class="flex gap-5">
      <igx-input-group>
        <input
          class="gridSample__filter"
          igxInput
          type="text"
          placeholder="Pesquisar baralhos"
          (input)="filter($event.target)"
        />
      </igx-input-group>
      <div class="flex items-center">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          [routerLink]="'/deck/form'"
        >
          Criar baralho
        </button>
      </div>
    </div>
  </div>
  <div>
    <igx-grid
      #grid1
      [data]="decks"
      [autoGenerate]="false"
      [allowFiltering]="false"
      [emptyGridMessage]="'Nenhum item encontrado'"
      [emptyFilteredGridMessage]="'Nenhum item encontrado'"
    >
      <igx-column field="name" [sortable]="true" header="Nome"></igx-column>
      <igx-column field="id" header=" " width="100px">
        <ng-template igxCell let-cell="cell">
          <igx-icon
            [routerLink]="['/deck/form', cell.value]"
            class="cursor-pointer"
            >edit
          </igx-icon>
          <igx-icon
            [routerLink]="['/deck/detail', cell.value]"
            class="ml-2 cursor-pointer"
            >search
          </igx-icon>
          <igx-icon (click)="deleteDeck(cell.value)" class="ml-2 cursor-pointer"
            >delete
          </igx-icon>
        </ng-template>
      </igx-column>
      <igx-paginator [perPage]="5"> </igx-paginator>
    </igx-grid>
  </div>
</div>
