/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography();


$custom-palette: palette($primary: #5028d9,
    $secondary: #e0d94c,
    $surface: #dddddd,
    $gray: #fff);

@include light-theme($custom-palette);


igc-trial-watermark {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
